<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR.

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next".

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [ ]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [15]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

In [16]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://sxs86238:6kf5XeqBKTYqyz0d@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB?security=SSL

'Connected: sxs86238@BLUDB'

In [7]:
import pandas as pd
import numpy as np
census_data = pd.read_sql('Select * from census_data','ibm_db_sa://sxs86238:6kf5XeqBKTYqyz0d@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB?security=SSL')
school_data = pd.read_sql('Select * from chicago_public_schools','ibm_db_sa://sxs86238:6kf5XeqBKTYqyz0d@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB?security=SSL')
crime_data = pd.read_sql('Select * from chicago_crime_data','ibm_db_sa://sxs86238:6kf5XeqBKTYqyz0d@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB?security=SSL')

# census_data = pd.read_csv('hardship.csv')
# school_data = pd.read_csv('ChicagoPublicSchools.csv')
# crime_data = pd.read_csv('ChicagoCrimeData.csv')

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [3]:
crime_data.shape[0]

SyntaxError: invalid syntax (3350777953.py, line 3)

In [17]:
%%sql
select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://sxs86238:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [36]:
census_data[census_data['per_capita_income'] < 11000][['community_area_name','per_capita_income']]

   community_area_name  per_capita_income
25  West Garfield Park              10934
29      South Lawndale              10402
36         Fuller Park              10432
53           Riverdale               8201

In [35]:
%%sql
select COMMUNITY_AREA_NAME , PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME < 11000

 * ibm_db_sa://sxs86238:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [8]:
crime_data.columns

Index(['id', 'case_number', 'DATE', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area_number', 'fbicode', 'x_coordinate',
       'y_coordinate', 'YEAR', 'latitude', 'longitude', 'location'],
      dtype='object')

In [25]:
def involves_minor(row):
    if 'MINOR' in row['description'] or 'MINOR' in row['primary_type']:
        return True
    else:
        return False

In [26]:
crime_data['Minor'] = crime_data.apply(involves_minor,axis=1)
crime_data[crime_data['Minor'] == True]

,id,case_number,DATE,block,iucr,primary_type,description,location_description,arrest,domestic,...,community_area_number,fbicode,x_coordinate,y_coordinate,YEAR,latitude,longitude,location,Child,Minor
514,3987219,HL266884,2005-03-31,024XX N CLARK ST,2210,LIQUOR LAW VIOL,SELL/GIVE/DEL LIQUOR TO MINOR,CONVENIENCE STORE,TRUE,FALSE,...,7.0,22,1172680.0,1916483.0,2005,41.926269,-87.640899,"(41.926268719, -87.640899336)",False,True
515,3266814,HK238408,2004-03-13,093XX S STONY ISLAND AVE,2230,LIQUOR LAW VIOL,ILLEGAL CONSUMPTION BY MINOR,ALLEY,TRUE,FALSE,...,48.0,22,1188539.0,1843379.0,2004,41.725301,-87.584966,"(41.72530099, -87.584965887)",False,True

In [19]:
%%sql
select CASE_NUMBER,PRIMARY_TYPE,DESCRIPTION from CHICAGO_CRIME_DATA where DESCRIPTION like '%MINOR%' or PRIMARY_TYPE like '%MINOR%'

 * ibm_db_sa://sxs86238:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('HL266884', 'LIQUOR LAW VIOL', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOL', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [22]:
def involve_child(row):
    if ('CHILD' in row['description']) and (row['primary_type']=='KIDNAPPING'):
        return True
    else:
        return False

In [23]:
crime_data['Child'] = crime_data.apply(involve_child,axis=1)
crime_data[crime_data['Child']==True]

,id,case_number,DATE,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area_number,fbicode,x_coordinate,y_coordinate,YEAR,latitude,longitude,location,Child
520,5276766,HN144152,2007-01-26,050XX W VAN BUREN ST,1792,KIDNAPPING,CHILD ABDUCTION/STRANGER,STREET,FALSE,FALSE,...,29.0,25.0,20,1143050.0,1897546.0,2007,41.874908,-87.750249,"(41.874908413, -87.750249307)",True

In [20]:
%%sql
select * from CHICAGO_CRIME_DATA where PRIMARY_TYPE = 'KIDNAPPING' and DESCRIPTION like '%CHILD%';

 * ibm_db_sa://sxs86238:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [18]:
def at_school(row):
    if 'SCHOOL' in row['location_description']:
        return True
    else:
        return False

In [21]:
crime_data['at_school'] = crime_data.apply(at_school,axis=1)
crime_data[crime_data['at_school']]['primary_type'].unique()

array(['BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'ASSAULT',
       'CRIMINAL TRESPA', 'PUBLIC PEACE VI'], dtype=object)

In [27]:
%%sql
select distinct(PRIMARY_TYPE) from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like '%SCHOOL%'

 * ibm_db_sa://sxs86238:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

### Problem 6

##### List the average safety score for all types of schools.

In [23]:
school_data.columns

Index(['school_id', 'name_of_school', 'Elementary, Middle, or High School',
       'street_address', 'city', 'state', 'zip_code', 'phone_number', 'link',
       'network_manager', 'collaborative_name',
       'adequate_yearly_progress_made_', 'track_schedule',
       'cps_performance_policy_status', 'cps_performance_policy_level',
       'healthy_school_certified', 'safety_icon', 'safety_score',
       'family_involvement_icon', 'family_involvement_score',
       'environment_icon', 'environment_score', 'instruction_icon',
       'instruction_score', 'leaders_icon', 'leaders_score', 'teachers_icon',
       'teachers_score', 'parent_engagement_icon', 'parent_engagement_score',
       'parent_environment_icon', 'parent_environment_score',
       'average_student_attendance', 'rate_of_misconducts__per_100_students_',
       'average_teacher_attendance',
       'individualized_education_program_compliance_rate', 'pk_2_literacy__',
       'pk_2_math__', 'gr3_5_grade_level_math__', 'gr3_5_grade_level_read__',
       'gr3_5_keep_pace_read__', 'gr3_5_keep_pace_math__',
       'gr6_8_grade_level_math__', 'gr6_8_grade_level_read__',
       'gr6_8_keep_pace_math_', 'gr6_8_keep_pace_read__',
       'gr_8_explore_math__', 'gr_8_explore_read__', 'isat_exceeding_math__',
       'isat_exceeding_reading__', 'isat_value_add_math',
       'isat_value_add_read', 'isat_value_add_color_math',
       'isat_value_add_color_read', 'students_taking__algebra__',
       'students_passing__algebra__', '9th Grade EXPLORE (2009)',
       '9th Grade EXPLORE (2010)', '10th Grade PLAN (2009)',
       '10th Grade PLAN (2010)', 'net_change_explore_and_plan',
       '11th Grade Average ACT (2011)', 'net_change_plan_and_act',
       'college_eligibility__', 'graduation_rate__',
       'college_enrollment_rate__', 'college_enrollment',
       'general_services_route', 'freshman_on_track_rate__', 'x_coordinate',
       'y_coordinate', 'latitude', 'longitude', 'community_area_number',
       'community_area_name', 'ward', 'police_district', 'location'],
      dtype='object')

In [32]:
school_data.groupby('Elementary, Middle, or High School')['safety_score'].agg(np.mean,axis=0)

Elementary, Middle, or High School
ES    49.520384
HS    49.623529
MS    48.000000
Name: safety_score, dtype: float64

In [29]:
%%sql
select "Elementary, Middle, or High School", avg(safety_score) as average_safety_score
from CHICAGO_PUBLIC_SCHOOLS group by "Elementary, Middle, or High School"

 * ibm_db_sa://sxs86238:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [31]:
census_data.nlargest(5,'percent_households_below_poverty')[['community_area_name','percent_households_below_poverty']]

   community_area_name  percent_households_below_poverty
53           Riverdale                              56.5
36         Fuller Park                              51.2
67           Englewood                              46.6
28      North Lawndale                              43.1
26  East Garfield Park                              42.4

In [30]:
%%sql
select community_area_name, percent_households_below_poverty from CENSUS_DATA
order by percent_households_below_poverty desc nulls last limit 5;

 * ibm_db_sa://sxs86238:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [43]:
community_number = crime_data.groupby('community_area_number').apply(len).idxmax()
census_data[census_data['community_area_number'] == community_number]['community_area_name']

24    Austin
Name: community_area_name, dtype: object

In [47]:
# community_area_number = %sql select community_area_number from CHICAGO_CRIME_DATA group by community_area_number order by count(*) desc nulls last limit 1
%sql select community_area_name from census_data where community_area_number=25.0

 * ibm_db_sa://sxs86238:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('Austin',)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [46]:
census_data.loc[census_data['hardship_index'].idxmax(),'community_area_name']

'Riverdale'

In [33]:
%%sql
select community_area_name from CENSUS_DATA where hardship_index = (select MAX(hardship_index) from CENSUS_DATA)

 * ibm_db_sa://sxs86238:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [47]:
community_number = crime_data.groupby('community_area_number').apply(len).idxmax()
census_data[census_data['community_area_number'] == community_number]['community_area_name']

24    Austin
Name: community_area_name, dtype: object

In [34]:
%%sql
select COMMUNITY_AREA_NAME from CENSUS_DATA where COMMUNITY_AREA_NUMBER in 
(select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA group by  COMMUNITY_AREA_NUMBER order by count(*) desc limit 1)

 * ibm_db_sa://sxs86238:***@98538591-7217-4024-b027-8baa776ffad1.c3n41cmd0nqnrk39u98g.databases.appdomain.cloud:30875/BLUDB
Done.

[('Austin',)]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-11-17 | 2.6     | Lakshmi           | Updated library                                |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>